
@{
    ViewData["Title"] = "O mnie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">O mnie</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <img src="~/pic/270px-Mieszko1.jpg" class="img-fluid" alt="sel-photo-1">
        </div>
        <div class="col">
            <p>Nazywam się Mieszko 1 I jestem władcą Polan, 966 przyjąłem chrzest, co było dość imponującym zdarzeniem w tamtych czasach. Lubię polowania oraz filmy</p>

        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="~/pic/polowanie-1.jpg" class="img-fluid" alt="sel-photo-1">
        </div>
    </div>
    </div>
